body{
  background-image: url(../images/jkl.jpg);
  background-size: cover;
}

.jumbotron{
background-color: black;
}

h2{
  text-align: center;
}

.popular{
  font-size: 45px;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
  color: black;
}

p{
  text-align: left;
  margin-left: 400px;
}

h3{
  text-align: left;
  margin-left: 400px;
}

h4{
  text-align: right;
  color: black;
  margin-right: 60px;
}
