h2{
  color: purple;
  margin-left: 500px;
  font-style: oblique;
  text-decoration: underline;
  font-family: cursive;
}
h1{
  color: purple;
  text-decoration: underline;
}

.tropical{
  color:#7dc410;
  font-family: fantasy;
  margin-left: 300px;
  margin-right: 500px;
  background-image: url(../images/cloud.jpg);
}

.popular{
  color:pink;
  font-family: cursive;
  margin-left: 300px;
  margin-right: 500px;
  background-image: url(../images/hd.jpg);
  background-position: center;
}
body{
background-color: grey;
}



.sidebar {
  top: 60%;
  width: 30%;
  margin-left: 500px;
  font-family: sans-serif;
  font-style: oblique;
background-image: url(../images/cloud.jpg);
background-repeat: no-repeat;
background-position: center;
}

.centered {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-style: oblique;
    color: white;
    font-size: 45px;
}
