h2{
  color: purple;
  margin-left: 500px;
  font-style: oblique;
  text-decoration: underline;
  font-family: cursive;
}
h1{
  color: purple;
  text-decoration: underline;
}

.tropical{
  color:#7dc410;
  font-family: fantasy;
  margin-left: 300px;
  margin-right: 500px;
  float:left;
}

.popular{
  color:pink;
  font-family: cursive;
  margin-left: 300px;
  margin-right: 500px;
  background-position: center;
}

body{
  background-image: url(/home/david/Documents/travel-agency/images/lion-hd-wallpaper-085.jpg);
  background-size: cover;
}



.sidebar {
  top: 60%;
  width: 30%;
  margin-left: 500px;
  font-family: sans-serif;
  font-style: oblique;
background-repeat: no-repeat;
background-position: center;
}

.centered {
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-style: oblique;
    color: white;
    font-size: 45px;
float: left;
}

.jumbotron{
background-color: black;
}
