h2{
  font-size: 20px;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;

}

body{
  background-image: url(../images/g.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron{
background-color: black;
}

h3{
  font-size: 45px;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
}

.tropical  {
  font-size: 45px;
  font-style: italic;
  font-family: sans-serif;
  text-align: center;
  color: purple;
}

p{
  text-align: left;
  color: black;
  margin-left: 56px;
}

h4 a{
  text-align: right;
  color: black;
  margin-left: 1010px;
}
